<!--
  Generated template for the DesignerQtnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Signup as Client
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<div col-lg-10 style="margin: 0 auto">
  <div padding>
    <h1>
      <!--<ion-icon name="person-add"></ion-icon> -->
      Signup</h1>
    <h5 >STEP 1 OF 2</h5>
    <p>Let's start by filling in your basic information.</p>  
  </div>

  <ion-card>
    <ion-card-content>    

      <form [formGroup]="userProfileForm" (submit)="saveUserProfile()" novalidate>

        <ion-item>
          <ion-label stacked>Full Name: </ion-label>
          <ion-input formControlName="name" type="text" placeholder="Your full name" value="{{user.displayName}}"
            [class.invalid]="!userProfileForm.controls.name.valid && userProfileForm.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!userProfileForm.controls.name.valid  && userProfileForm.controls.name.dirty">
          <p>Your name is too short.</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email: </ion-label>
          <ion-input formControlName="email" type="email" placeholder="Your email address" disabled value="{{user.email}}"
></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Tel: </ion-label>
          <ion-input formControlName="tel" type="tel" placeholder="Your phone number" value="{{(user)?.tel}}"
            [class.invalid]="!userProfileForm.controls.tel.valid && userProfileForm.controls.tel.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!userProfileForm.controls.tel.valid  && userProfileForm.controls.tel.dirty">
          <p>Your phone number is too short.</p>
        </ion-item>

        <button  ion-button icon-right large padding type="submit">
          Save and Continue
          <ion-icon name="arrow-forward"></ion-icon> 
        </button>

      </form>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>