page-offers-and-discounts {
	.top-item{
		padding-top:10px;
	}
	.no-messages{
        padding-top: 300px;
        color: #999;
        
        ion-icon{
            font-size: 4rem;
        }
    }
    .title{
    	font-weight:bold;
    }
    .description{
    	padding: 5px 16px;
    }
    .subtitle{
    	padding: 5px 16px 15px;
    }
}
